@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  margin-bottom: 200px;

  &__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 44px;
    align-items: center;
    padding-bottom: 88px;

  }

  &__inner-social {
    display: flex;
  }

  &__social-link {
    margin-left: 25px;
  }

  &__content {
    display: flex;

  }

  &__content-desc {
    max-width: 615px;
    flex: 1 1 50%;
    margin-right: 30px;
  }

  &__desc-title {
    font-size: 65px;
    line-height: 90px;
    font-family: 'Fredoka One',
      cursive;
    margin: 0 0 50px;

  }

  &__desc-subtitle {
    font-size: 24px;
    line-height: 35px;
    margin-bottom: 20px;
    max-width: 594px;
  }

  &__desc-text {
    font-size: 24px;
    line-height: 35px;
    max-width: 594px;
    margin-bottom: 75px;
  }


}


.menu {
  &__link {
    margin-right: 50px;
  }
}

.main {
  &__btn {

    background: linear-gradient(180deg, #FF0087 0%, #761594 100%);
    border-radius: 10px;
    padding: 23px 78px;
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
  }

}

.cards {
  transform: rotate(4deg);
  margin-bottom: 163px;
  overflow: hidden;

  &__slider {
    .slick-list {
      max-width: 1920px;
      margin: 0 auto;
    }
  }

}

.overview {

  &__inner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 50px;
    margin-bottom: 200px;
  }

  &__inner-box {
    max-width: 366px;
    margin-bottom: 60px;
  }

  &__inner-box-title {
    text-align: center;
    font-size: 30px;
    line-height: 40px;
    font-family: 'Fredoka One',
      cursive;
    margin-bottom: 20px;
  }

  &__box-list {
    list-style: disc !important;
  }


}


.title-glob {
  font-size: 70px;
  line-height: 90px;
  font-family: 'Fredoka One',
    cursive;
  font-weight: normal;
  text-align: center;
  position: relative;
  z-index: 2;
  margin-bottom: 85px;

  &::after {
    content: '';
    position: absolute;
    background-image: url(../images/title-bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 700px;
    height: 200px;
    left: 225px;
    top: -45px;
    z-index: -1;
  }
}

.invite {
  &__title {
    margin-bottom: 15px;
  }

  &__subtitle {
    font-size: 30px;
    line-height: 40px;
    font-family: 'Fredoka One',
      cursive;
    text-align: center;
    margin-left: 250px;
    margin-bottom: 45px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 300px;
  }


  &__inner-num {
    max-width: 211px;
    text-align: center;
  }

  &__inner-number {
    font-size: 70px;
    line-height: 90px;
    font-family: 'Fredoka One',
      cursive;
  }

  &__inner-subtitle--1 {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 100px;
  }

  &__inner-descr {
    max-width: 490px;
  }

  &__descr-text {
    margin-bottom: 73px;
  }
}

.roadmap {
  margin-bottom: 200px;

  &__title {
    margin-bottom: 85px;
  }

  &__inner-item-1 {
    margin-bottom: 50px;
    max-width: 574px;
    padding-left: 15px;
  }

  &__inner-item-2 {
    margin-bottom: 50px;
    max-width: 574px;
    margin-left: auto;
    padding-left: 15px;
  }

  &__item-title {
    font-size: 30px;
    line-height: 40px;
    font-family: 'Fredoka One',
      cursive;
    margin-bottom: 20px;

  }

  &__item-list {
    list-style: disc !important;
  }


}

.team {
  margin-bottom: 120px;

  &__inner-row {
    display: flex;
    column-gap: 100px;
    justify-content: center;
  }

  &__row-item {
    text-align: center;
  }

  &__item-img {
    margin-bottom: 40px;
  }

  &__item-title {
    font-size: 30px;
    line-height: 35px;
    font-weight: bold;
  }

  &__item-subtitle {
    margin-bottom: 100px;
    font-size: 24px;
    line-height: 35px;
  }
}

.faqs {
  margin-bottom: 200px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }



  &__inner-content {
    padding-top: 80px;
    max-width: 802px;
    width: 100%;
  }

  &__title {
    text-align: left;

    &::after {
      left: -200px;
    }
  }


}


.accordion {


  &__heading {
    display: flex;
    align-items: center;
    border-top: 1px solid #712F76;
    border-bottom: 1px solid #712F76;
    padding: 33px 0;
    cursor: pointer;

    h5 {
      font-size: 24px;
      line-height: 35px;
    }

    .img {
      margin: 0 40px;
      width: 30px;
      height: 30px;
      background-image: url(../images/plus.png);
      background-position: center;
    }


  }

  &__content {
    font-size: 18px;
    line-height: 28px;
    padding: 40px 0 40px 200px;
    display: none;
  }
}

.accordion.active {
  .accordion__content {
    display: block;
  }

  .img {
    background-image: url(../images/minus.png);
    background-repeat: no-repeat;
    background-position: center;
  }
}

.litepaper {


  &__inner-item {
    display: flex;
    background-color: #fff;
    border-radius: 20px;
    padding: 30px;
    max-height: 380px;
    margin-bottom: 300px;
  }

  &__item-image {
    margin: 0 85px 0 50px;

    img {
      border-radius: 22px;

    }
  }

  &__item-content {
    max-width: 594px;
  }

  &__content-title {
    font-size: 30px;
    line-height: 40px;
    font-family: Fredoka One;
    color: #712F76;
    letter-spacing: 3px;
    margin-bottom: 20px;
  }

  &__content-text {
    font-size: 18px;
    line-height: 28px;
    color: #330043;
  }

  &__content-text--hide {
    display: none;
  }

  &__content-arrow {
    display: flex;
    justify-content: end;
    margin-right: 20px;
    margin-top: 40px;
    cursor: pointer;
  }
}

.litepaper__inner-item--2 {
  flex-direction: row-reverse;

  .litepaper__content-arrow {
    display: block;
  }
}

.litepaper__inner-item.show {
  max-height: 100%;

  .litepaper__content-arrow {
    transform: rotate(180deg);
    justify-content: start;
  }

  .litepaper__content-text--hide {
    display: block;
  }

}

.litepaper__inner-item.litepaper__inner-item--2.show {
  .litepaper__content-arrow {
    display: inline-block;
  }
}

.footer {
  background-color: #FF0087;

  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
  }
}

.menu {
  &__link {}
}

.header {
  &__inner-social {}

  &__social-link {}
}